<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EC Kit</title>

    <link href="static/vendor2/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor2/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="/static/vendor2/morrisjs/morris.css" rel="stylesheet">
    <link href="/static/vendor2/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <style>

        #myInput {
            width: 50%;
            font-size: 16px;
            padding: 8px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #statusTable {

            border-collapse: collapse;
            width: 80%;
            border: 1px solid #ddd;
            font-size: 17px;
        }

        #statusTable th, #statusTable td {
            text-align: left;
            padding: 12px;
            font-family: Ubuntu;
        }

        #statusTable tr {
            border-bottom: 1px solid #ddd;
            font-family: Ubuntu;
            font-size: 13px;
        }

        #statusTable tr.header, #statusTable tr:hover {
            background-color: #f1f1f1;
        }

    </style>
</head>


<body>

<div id="wrapper">

    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">Exam Committee's Kit</a>
            <ul class="nav navbar-nav">
                <li class="active"><a href="login.html">Login</a></li>
            </ul>
        </div>
        <!-- /.navbar-header -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Profile</a>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Works</a>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Notice Board</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="color: darkslategray; font-family: Ubuntu">Question Setting Status</h1>

            </div>
        </div>

        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

        <table id="statusTable">
            <tr class="header">
                <th style="width: 10%"> Course</th>
                <th style="width: 10%"> Type</th>
                <th style="width: 20%"> Setter 1</th>
                <th style="width: 5%"> Status</th>
                <th style="width: 20%"> Setter 2</th>
                <th style="width: 6%"> Status</th>

            </tr>
            {% for row in data %}

                <tr>
                    <td> {{ row['CourseID'] }} </td>

                    {% if row['Type'] == 1 %}
                        <td>Final</td>
                {% else %}
                        <td>In course</td>
                    {% endif %}



                    <td> {{ row['Qsetter1'] }} </td>

                    {% if row['Status'] == 0 %}
                        <td><p style="color: #E75125; font-weight: bold; font-family: Consolas">Pending</p></td>

                    {% elif row['Status'] == 2 %}
                        <td><p style="color: #E75125; font-weight: bold; font-family: Consolas">Pending</p></td>
                    {% else %}
                        <td><p style="color: #3CA55D; font-weight: bold; font-family: Consolas">Done</p></td>
                    {% endif %}

                    <td> {{ row['Qsetter2'] }} </td>
                    {% if row['Status'] == 0 %}
                        <td><p style="color: #E75125; font-weight: bold; font-family: Consolas">Pending</p></td>

                    {% elif row['Status'] == 1 %}
                        <td><p style="color: #E75125; font-weight: bold; font-family: Consolas">Pending</p></td>
                    {% else %}
                        <td><p style="color: #3CA55D; font-weight: bold; font-family: Consolas">Done</p></td>
                    {% endif %}

                </tr>

            {% endfor %}

        </table>

        <script>
            function myFunction() {
                var input, filter, table, tr, td, i;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("statusTable");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        </script>

    </div>


    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/static/vendor2/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor2/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/vendor2/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/static/vendor2/raphael/raphael.min.js"></script>
    <script src="/static/vendor2/morrisjs/morris.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/dist/js/sb-admin-2.js"></script>

</div>

</body>

</html>


