<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EC Kit</title>

    <link href="static/vendor2/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor2/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="/static/vendor2/morrisjs/morris.css" rel="stylesheet">
    <link href="/static/vendor2/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <style>
        .text-custom {
            color: darkslategrey;
            font-family: Ubuntu;
            font-size: 15px;
        }

        .thead-custom {
            font-weight: bold;
            color: darkslategrey;
            font-family: Ubuntu;
            font-size: 17px;
        }

        .options-custom {
            color: darkslategrey;
            font-family: Ubuntu;
            font-size: 16px;
        }

        .options-custom:hover {
            color: darkcyan;
            font-family: Ubuntu;
            font-size: 17px;
            cursor: pointer;
        }

    </style>
</head>


<body>

<div id="wrapper">

    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">Exam Committee's Kit</a>
            <ul class="nav navbar-nav">
                <li class="active"><a href="login.html">Login</a></li>
            </ul>
        </div>
        <!-- /.navbar-header -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Profile</a>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Works</a>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Notice Board</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="color: darkslategray; font-family: Ubuntu">Appoint Question Setters</h1>

            </div>
        </div>


        <form class="form-horizontal" action="http://localhost:5000/questionsetting" method="POST">

            <div class="row" style="margin-left: 5px">
                <h4>Select Exam</h4>
            </div>
            <div class="form-group">
                <div class="col-sm-5">


                    <datalist style="margin-bottom: -34px; font-weight: 200" id="ddl_exams" class="form-control">

                    </datalist>
                    <input style="font-weight: bold" class="form-control" list="ddl_exams" name="exam"/>


                </div>
            </div>

            <div class="row" style="margin-left: 5px">
                <h4>Select Course</h4>
            </div>
            <div class="form-group">
                <div class="col-sm-5">


                    <datalist style="margin-bottom: -34px; font-weight: 200" id="ddl_courses" class="form-control">

                    </datalist>
                    <input style="font-weight: bold" class="form-control" list="ddl_courses" name="courses"/>


                </div>
            </div>

            <div class="row" style="margin-left: 5px">
                <h4>Select 1st setter</h4>
            </div>
            <div class="form-group">
                <div class="col-sm-5">


                    <datalist style="margin-bottom: -34px; font-weight: 200" id="ddl_setter1" class="form-control">

                    </datalist>
                    <input style="font-weight: bold" class="form-control" list="ddl_setter1" name="setter1"/>


                </div>
            </div>

            <div class="row" style="margin-left: 5px">
                <h4>Select 2nd setter</h4>
            </div>
            <div class="form-group">
                <div class="col-sm-5">


                    <datalist style="margin-bottom: -34px; font-weight: 200" id="ddl_setter2" class="form-control">

                    </datalist>
                    <input style="font-weight: bold" class="form-control" list="ddl_setter2" name="setter2"/>


                </div>
            </div>


            <!--   Code snippet to populate the course list -->
            <script type="text/javascript">
                var subjectList = {{ subjetcs|tojson }};
                var options = '';
                for (var i = 0; i < subjectList.length; i++)
                    options += '<option value="' + subjectList[i] + '" />';

                document.getElementById('ddl_courses').innerHTML = options;
            </script>

            <script type="text/javascript">
                var examList = {{ exams|tojson }};
                var options = '';
                for (var i = 0; i < examList.length; i++)
                    options += '<option value="' + examList[i] + '" />';

                document.getElementById('ddl_exams').innerHTML = options;
            </script>

            <script type="text/javascript">
                var teacherList = {{ teachers|tojson }};
                var options = '';
                for (var i = 0; i < teacherList.length; i++)
                    options += '<option value="' + teacherList[i] + '" />';

                document.getElementById('ddl_setter1').innerHTML = options;
                document.getElementById('ddl_setter2').innerHTML = options;
            </script>

            <button style="margin-top: 10px" type="submit" class="btn btn-primary">Submit</button>

        </form>


    </div>


    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/static/vendor2/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor2/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/vendor2/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/static/vendor2/raphael/raphael.min.js"></script>
    <script src="/static/vendor2/morrisjs/morris.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/dist/js/sb-admin-2.js"></script>

</div>

</body>

</html>


